In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
import pylab
import datetime as dt
from math import floor
import random

#Turn off data assignment warning. All dataframes are correctly populated
pd.set_option('mode.chained_assignment', None)
pd.options.display.float_format = "{:,.2f}".format

In [2]:
dates = pd.read_csv("Dates_Stocks.csv")
tickers = pd.read_csv("https://pkgstore.datahub.io/core/s-and-p-500-companies/constituents_csv/data/652de3c89c39dafdee912fd9cfb23c21/constituents_csv.csv")
tickers.drop(["Sector"], axis = 1, inplace = True)
tickers

my_stocks = pd.DataFrame(index=dates.index,columns=["Stock bought", "Quantity"])

In [3]:
#This simulation really takes some time
#And it`s only made in 100-some rows

monthly_investment = 1000

for i in dates.index:
    s = tickers["Symbol"][random.randint(0,len(tickers.index))]
    my_stocks["Stock bought"][i] = s
    my_stocks["Quantity"][i] = monthly_investment / wb.DataReader(s, "yahoo", dates["Date"][i])["Adj Close"].values[0]

In [4]:
#It takes forever but it`s worth it seeing
#This will show how much an investor would have in Jan 2nd, 2020, first trading day of the present year
final_date = "2020-01-02"
my_stocks["Present value"] = 0

#it`s returning integers instead of floats. Will see why later
for i in my_stocks.index:
    my_stocks["Present value"][i] = wb.DataReader(my_stocks["Stock bought"][i], "yahoo", final_date)["Adj Close"].values[0]
    
my_stocks

    Stock bought Quantity  Present value
0            WEC    60.76             88
1           APTV    62.39             96
2           ORLY    25.27            437
3           PRGO    18.26             50
4            AMP    27.01            165
..           ...      ...            ...
115          DHR     7.17            154
116           MS    25.13             50
117          XEL    15.70             61
118          BBY    14.02             85
119          ICE    10.82             92

[120 rows x 3 columns]

In [7]:
my_stocks["Value of stocks"] = my_stocks["Quantity"] * my_stocks["Present value"]

    Stock bought Quantity  Present value Value of stocks
0            WEC    60.76             88        5,347.04
1           APTV    62.39             96        5,988.98
2           ORLY    25.27            437       11,043.72
3           PRGO    18.26             50          912.78
4            AMP    27.01            165        4,456.27
..           ...      ...            ...             ...
115          DHR     7.17            154        1,103.49
116           MS    25.13             50        1,256.64
117          XEL    15.70             61          957.71
118          BBY    14.02             85        1,191.39
119          ICE    10.82             92          995.85

[120 rows x 4 columns]

In [17]:
total_acumulated = my_stocks["Value of stocks"].sum()
total_invested = len(my_stocks.index) * monthly_investment
profit = round((total_acumulated / total_invested) * 100,2)
print("You have earned a {}% profit from your investments in this period of time.".format(profit))

You have earned a 262.53% profit from your investments in this period of time.

In [18]:
#Makes it easier to run some further analysis on the data
my_stocks.to_csv("Latest simulation.csv")