In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import datetime as dt

In [2]:
#Utilize as ferramentas abaixo para conseguir uma lista de datas para utilizar num dataframe gerado iterativamente
start = dt.datetime(2010, 1, 1)
end = dt.datetime(2019, 12, 30)

stnks = wb.DataReader("AAPL", "yahoo", start, end)

dates =[]
for x in range(len(stnks)):
    newdate = str(stnks.index[x])
    newdate = newdate[0:10]
    dates.append(newdate)
stnks['DATA'] = dates
stnks

#Este comando movera a coluna de data para a primeira coluna, facilitando a analise
colunas = stnks.columns.tolist()
colunas = colunas[-1:] + colunas[:-1]
colunas
stnks = stnks[colunas]



#Separa uma coluna para mes + ano
stnks['DATA'] = stnks['DATA'].astype('datetime64[ns]')
stnks["Month_Day"] = pd.DatetimeIndex(stnks['DATA']).month
stnks["Month_Day"] = stnks["Month_Day"].astype(str)
stnks["Year"] = pd.DatetimeIndex(stnks['DATA']).year
stnks["Year"] = stnks["Year"].astype(str)
stnks["MesEAno"] = stnks["Month_Day"] + "-" + stnks["Year"]
stnks = stnks.drop(columns=['Year', 'Month_Day'])

#Dataframe contendo somente as datas
as_datas = pd.DataFrame(stnks["DATA"])


#Dataframe contendo apenas datas de investimento e os primeiros dias
stnks = pd.DataFrame(stnks["MesEAno"])
stnks.drop_duplicates(["MesEAno"], keep="first", inplace= True)

stnks

            MesEAno
Date
2010-01-04   1-2010
2010-02-01   2-2010
2010-03-01   3-2010
2010-04-01   4-2010
2010-05-03   5-2010
...             ...
2019-08-01   8-2019
2019-09-03   9-2019
2019-10-01  10-2019
2019-11-01  11-2019
2019-12-02  12-2019

[120 rows x 1 columns]

In [3]:
stnks.to_csv("Dates_Stocks.csv")

In [4]:
pd.read_csv("Dates_Stocks.csv")

           Date  MesEAno
0    2010-01-04   1-2010
1    2010-02-01   2-2010
2    2010-03-01   3-2010
3    2010-04-01   4-2010
4    2010-05-03   5-2010
..          ...      ...
115  2019-08-01   8-2019
116  2019-09-03   9-2019
117  2019-10-01  10-2019
118  2019-11-01  11-2019
119  2019-12-02  12-2019

[120 rows x 2 columns]