In [1]:
import pandas as pd
import random

In [5]:
# Sera substituido posteriormente por webscraping no site da B3
carteira = pd.read_csv("tickers_ibov.csv", delimiter=";")
tckrs = carteira["TICKER"]
empresas = carteira["EMPRESA"]

      TICKER       EMPRESA
0   ABEV3.SA     AMBEV S/A
1   AZUL4.SA          AZUL
2   B3SA3.SA            B3
3   BBAS3.SA        BRASIL
4   BBDC3.SA      BRADESCO
..       ...           ...
70  VALE3.SA          VALE
71  VIVT4.SA  TELEF BRASIL
72  VVAR3.SA     VIAVAREJO
73  WEGE3.SA           WEG
74  YDUQ3.SA    YDUQS PART

[75 rows x 2 columns]

In [4]:

def traz_ibov(numero_ativos):
    minhalista = random.sample(range(0,len(tckrs)), numero_ativos)
    sa_ibov = []
    i = 0
    while i < len(minhalista):
        sa_ibov.append(tckrs[minhalista[i]])
        i += 1
    return sa_ibov